/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Encabezado */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

header h1 .logo {
  margin: 0;
  display: flex;
}
#logo {
  width: 100px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Esto mantendrá la proporción de la imagen */
  margin-right: 20px; /* Agrega un margen a la derecha del logotipo para separarlo del título */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Secciones */
section {
  padding: 2em;
}

/* Imagen de fondo para la sección de inicio */

/* Redes Sociales */
.redes-iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.redes-iconos a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s;
}

.redes-iconos a:hover {
  transform: scale(1.2);
}

/* Pie de página */
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1em 0;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {
  header {
    text-align: center;
  }

  #logo {
    display: block;
    margin: 0 auto;
  }

  nav ul {
    text-align: center;
  }

  main {
    padding: 20px;
  }

  #servicios ul {
    padding-left: 20px;
  }
}
